@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title { Knockout }
@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/Knockout/index.js")"></script>
}
<div class="row">
    <div class="span4"></div>
    <div class="span8">
        <div id="customer-container" data-bind="visible: list.hasItems">
            <table id="tblData" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th><a class="sort-field" data-field-name="name" data-field-type="String" href="#">Name</a></th>
                        <th><a class="sort-field" data-field-name="birthDate" data-field-type="Date" href="#">Date</a></th>
                        <th><a class="sort-field" data-field-name="height" data-field-type="Number" href="#">Height</a></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: list.getCustomers()">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: birthDate"></td>
                        <td data-bind="text: height"></td>
                        <td><a class="lnk-edit-customer" data-bind="attr: { 'data-customer-id': customerId }" href="#">Edit</a></td>
                        <td><a class="lnk-delete-customer" data-bind="attr: { 'data-customer-id': customerId }" href="#">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a id="btn-create-customer" href="#" class="btn btn-primary">Create</a>
    </div>
</div>
<!-- Create/Edit Modal -->
<div id="modal-create-customer" class="modal hide fade">
    <header class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3 id="modal-customer-title"></h3>
    </header>
    <div id="content" class="modal-body">
        <form id="form-create-customer" action="#" method="get" class="form-horizontal">
            <div class="control-group">
                <input name="hdnCustomerId" type="hidden" data-bind="value: selected().customerId" />
                <label for="txtName" class="control-label">Name:</label>
                <div class="controls">
                    <input id="txtName" 
                           name="txtName" 
                           type="text"
                           placeholder="Enter a name..."
                           data-bind="value: selected().name"
                           data-required="true"
                           data-required-message="Please provide a name."
                           data-trigger="change" />
                </div>
            </div>
            <div class="control-group">
                <label for="dpBirthDate" class="control-label">Birth Date:</label>
                <div class="controls">
                    <input id="dpBirthDate" 
                           name="dpBirthDate" 
                           type="text" 
                           data-bind="value: selected().birthDate"
                           data-required="true"
                           data-required-message="Please provide a birth date."
                           data-americandate="true"
                           data-americandate-message="Please enter a valid birth date."
                           data-trigger="change" />
                </div>
            </div>
            <div class="control-group">
                <label for="txtHeight" class="control-label">Height:</label>
                <div class="controls">
                    <input id="txtHeight" 
                           name="txtHeight" 
                           type="text" 
                           data-bind="value: selected().height"
                           data-required="true"
                           data-required-message="Please provide a height."
                           data-type="digits"
                           data-type-digits-message="Please enter a valid height."
                           data-trigger="change" />
                </div>
            </div>
        </form>
    </div>
    <footer class="modal-footer">
        <a id="btn-create-customer-save" href="#" class="btn btn-primary"></a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </footer>
</div>
<!-- Delete Modal -->
<div id="modal-delete-customer" class="modal hide fade"">
    <header class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Delete Customer</h3>
    </header>
    <div class="modal-body">
        Are you sure you want to delete <span data-bind="text: selected().name"></span>?
    </div>
    <footer class="modal-footer">
        <a id="btn-delete-customer-save" href="#" class="btn btn-danger" data-bind="attr: { 'data-customer-id': selected().customerId }">Delete</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </footer>
</div>