@using Adapters.Models
@using MvcUtilities.Helpers
@model CustomerData

<div class="control-group">
    <label for="txtName" class="control-label">Name:</label>
    <div class="controls">
        <input id="txtName" 
               name="txtName" 
               type="text" 
               placeholder="Enter a name..." 
               @Html.SetAttribute("value", model => model.Name) />
    </div>
</div>
<div class="control-group">
    <label for="dpBirthDate" class="control-label">Birth Date:</label>
    <div class="controls">
        <input id="dpBirthDate" 
               name="dpBirthDate" 
               type="text"
               @Html.SetAttribute("value", model => model.BirthDate) />
    </div>
</div>
<div class="control-group">
    <label for="txtHeight" class="control-label">Height:</label>
    <div class="controls">
        <input id="txtHeight" 
               name="txtHeight" 
               type="text"
               @Html.SetAttribute("value", model => model.Height) />
    </div>
</div>