@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title { Angular }
@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/Angular/index.js")"></script>
}
@section Styles
{
<link rel="Stylesheet" type="text/css" href="~/Content/Angular/angular.css" />
}
<div data-ng-app="Customer" data-ng-controller="CustomerController">
    <div class="row">
        <div class="span4"></div>
        <div class="span8">
            <div id="customer-container">
                <table id="tblData" class="table table-striped table-bordered table-hover" data-ng-show="customerList.length > 0">
                    <thead>
                        <tr>
                            <th><a class="sort-field" href="#" data-ng-click="orderByField = 'Name'; reverse=!reverse">Name</a></th>
                            <th><a class="sort-field" href="#" data-ng-click="orderByField = 'BirthDate'; reverse=!reverse">Date</a></th>
                            <th><a class="sort-field" href="#" data-ng-click="orderByField = 'Height'; reverse=!reverse">Height</a></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="customer in customerList | orderBy:orderByField:reverse">
                            <td>{{customer.Name}}</td>
                            <td>{{customer.BirthDate | date}}</td>
                            <td>{{customer.Height}}</td>
                            <td><a class="lnk-edit-customer" data-customer-id="{{customer.CustomerId}}" href="#" data-ng-click="showEditModal(customerModal, selected, customer, formCustomer)">Edit</a></td>
                            <td><a class="lnk-delete-customer" data-customer-id="{{customer.CustomerId}}" href="#" data-ng-click="deleteCustomer(customer)">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a id="btn-create-customer" href="#" class="btn btn-primary" data-ng-click="showCreateModal(selected, customerModal, formCustomer)">Create</a>
        </div>
    </div>
    <!-- Create/Edit Modal -->
    <div id="modal-customer" class="modal hide fade">
        <header class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3 id="modal-customer-title">{{customerModal.Title}}</h3>
        </header>
        <div id="content" class="modal-body">
            <form id="form-create-customer" 
                  name="formCustomer" 
                  action="#" 
                  method="get" 
                  class="form-horizontal" 
                  novalidate="novalidate">
                <div class="control-group" data-ng-class="getStatusClass(formCustomer.txtName)">
                    <input name="hdnCustomerId" type="hidden" value="{{selected.CustomerId}}" />
                    <label for="txtName" class="control-label">Name:</label>
                    <div class="controls">
                        <input id="txtName" 
                               name="txtName" 
                               type="text" 
                               placeholder="Enter a name..." 
                               data-ng-model="selected.Name" 
                               required="required" />
                        <span class="help-inline" data-ng-show="showErrorMessage(formCustomer.txtName, 'required')">You must provide a name.</span>
                    </div>
                </div>
                <div class="control-group" data-ng-class="getStatusClass(formCustomer.dpBirthDate)">
                    <label for="dpBirthDate" class="control-label">Birth Date:</label>
                    <div class="controls">
                        <input id="dpBirthDate" 
                               name="dpBirthDate" 
                               type="text" 
                               data-ng-model="selected.BirthDate" 
                               required="required" 
                               data-ng-pattern="/^(0?[1-9]|1[012])\/(0?[1-9]|[12][0-9]|3[01])\/(\d{2}|\d{4})$/"
                               data-datepicker />
                        <span class="help-inline" data-ng-show="showErrorMessage(formCustomer.dpBirthDate, 'required')">You must provide a birth date.</span>
                        <span class="help-inline" data-ng-show="showErrorMessage(formCustomer.dpBirthDate, 'pattern')">You must provide a valid birth date.</span>
                    </div>
                </div>
                <div class="control-group" data-ng-class="getStatusClass(formCustomer.txtHeight)">
                    <label for="txtHeight" class="control-label">Height:</label>
                    <div class="controls">
                        <input id="txtHeight" 
                               name="txtHeight" 
                               type="text"
                               data-ng-pattern="/^\d*$/"
                               data-ng-model="selected.Height"
                               required="required" />
                        <span class="help-inline" data-ng-show="showErrorMessage(formCustomer.txtHeight, 'required')">You must provide a height.</span>
                        <span class="help-inline" data-ng-show="showErrorMessage(formCustomer.txtHeight, 'pattern')">You must provide a valid height.</span>
                    </div>
                </div>
            </form>
        </div>
        <footer class="modal-footer">
            <a href="#" id="btn-create-customer-save" type="submit" class="btn btn-primary" data-ng-click="submit(customerModal, selected, formCustomer)">{{customerModal.Action}}</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </footer>
    </div>
</div>