@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section Title { Not Found }
<div class="row">
    <div class="span4"></div>
    <div class="span8">
        <h2>Page Not Found</h2>
    </div>
</div>