<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="EntityContext" 
         connectionString="data source=localhost\SQLEXPRESS2012;initial catalog=TestDatabase;integrated security=True;multipleactiveresultsets=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>